<% @title='Collaborators' %>

<div class="row">
  <div class="large-12 columns">
    <h1>GRChombo team</h1>
    <p>GRChombo is a Numerical GR code developed by a team of researchers from:
    </p>
    <ul>
    <li><a href="http://www.damtp.cam.ac.uk/">Department of Applied Mathematics and Theoretical Physics (DAMTP), University of Cambridge</a></li>
    <li><a href="http://www.alcf.anl.gov/">Argonne Leadership Computing Facility, Argonne National Laboratory</a></li>
    <li><a href="http://www.kcl.ac.uk/nms/depts/physics/research/tppc/index.aspx">Department of Physics, King's College London</a></li>
    <li><a href="http://www.maths.qmul.ac.uk">School of Mathematical Sciences, Queen Mary University of London</a></li>
    </ul>
  </div>
  <div class="large-6 columns">
     <h2>Core developers</h2>
     <div class="large-3 columns">
       <%=image_tag("Katy.jpg", alt: "Katy", title: "Katy")%>
     </div>
     <div class="large-3 columns">
       <%=image_tag("Pau.jpg", alt: "Pau", title: "Pau")%>
     </div>
     <div class="large-3 columns">
       <%=image_tag("Hal.jpg", alt: "Hal", title: "Hal")%>
     </div>
     <div class="large-3 columns">
       <%=image_tag("Markus.jpg", alt: "Markus", title: "Markus")%>
     </div>
     <div class="large-3 columns">
       <%=image_tag("Eugene.jpg", alt: "Eugene", title: "Eugene")%>
     </div>
     <div class="large-3 columns">
       <%=image_tag("Saran.jpg", alt: "Saran", title: "Saran")%>
     </div>
     <div class="large-3 columns">
       <%=image_tag("James.jpg", alt: "James", title: "James")%>
     </div>
     <div class="large-3 columns">
       <%=image_tag("Thomas.jpg", alt: "Thomas", title: "Thomas")%>
     </div>
    <p>Core developers from left to right: Katy Clough (KCL), Pau Figueras (QMUL), Hal Finkel (ANL), Markus Kunesch (Cambridge), Eugene Lim (KCL), Saran Tunyasuvunakool (QMUL), James Cook (KCL), Thomas Helfer (KCL)
    </p>
  </div>
  <div class="large-6 columns">
     <h2>Collaborators</h2>
     <div class="large-3 columns">
       <%=image_tag("Hans.jpg", alt: "Hans", title: "Hans")%>
     </div>
     <div class="large-3 columns">
       <%=image_tag("Uli.jpg", alt: "Uli", title: "Uli")%>
     </div>
     <div class="large-3 columns">
       <%=image_tag("Helvi.jpg", alt: "Helvi", title: "Helvi")%>
     </div>
     <div class="large-3 columns">
       <%=image_tag("Ben.jpg", alt: "Ben", title: "Ben")%>
     </div>
    <p>Collaborators from left to right: Hans Bantilan (QMUL), Ulrich Sperhake (Cambridge), Helvi Witek
    (Nottingham), Benjamin Withers (QMUL)
    </p>
  </div>
  <div class="large-12 columns">
    <p>GRChombo is primarily developed on the <a href="http://www.cosmos.damtp.cam.ac.uk/">COSMOS supercomputer</a>
    at Department of Applied Mathematics and Theoretical Physics (DAMTP) at the University of Cambridge.
    The GRChombo team is grateful for the continuing assistance from the team at the COSMOS Intel® Parallel
    Computing Center at the University of Cambridge, in particular Juha Jäykkä, James Briggs, and Kacper Kornet.
    The COSMOS Shared Memory system is operated on behalf of the <a href="http://www.dirac.ac.uk/">STFC DiRAC HPC Facility</a>.
    This equipment is funded by BIS National E-infrastructure capital grant ST/J005673/1 and STFC grants ST/H008586/1, ST/K00333X/1.
    Our research also uses resources of the <a href="http://www.alcf.anl.gov/">Argonne Leadership Computing Facility</a>,
    which is a DOE Office of Science User Facility supported under Contract DE-AC02-06CH11357.
    </p>
  </div>
</div>
