<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= @title %> | GRChombo</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

<header>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">GRChombo</li>
        <li>
          <li><a href="/index">Home</a></li>
          <li><a href="/collaborators">Collaborators</a></li>
          <li><a href="/publications">Publications</a></li>
          <li><a href="/movies">Movies</a></li>
    </div>
  </div>

</header>

<%= yield %>

<%= javascript_include_tag "application" %>

</body>
</html>
